* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

label {
    display: block;
}

input, select {
    width: 100%;
    margin-bottom: 1rem;
}

fieldset {
    margin-bottom: 1rem;
}

.like-input {
    height: 1rem;
    margin-bottom: 1rem;
}

nav > a.active {
    font-weight: bold;
}

body {
    background-color: #ECECEC;
}

#root {
    max-width: 960px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

table {
    width: 100%;
}

th {
    text-align: left;
}
